
dark mode icons/detail/icon.dark.png
dark mode icons/detail/icon.png
dark mode icons/doors/icon.dark.png
dark mode icons/doors/icon.png
Doors.extension/pyHOK.tab/HOK Tools.panel/Project to Family.pushbutton/icon.dark.png
Doors.extension/pyHOK.tab/HOK Tools.panel/Project to Family.pushbutton/icon.png
Doors.extension/pyHOK.tab/HOK Tools.panel/Project to Family.pushbutton/script.py
Doors.extension/pyHOK.tab/HOK Tools.panel/Replace Family.pushbutton/icon.dark.png
Doors.extension/pyHOK.tab/HOK Tools.panel/Replace Family.pushbutton/icon.png
Doors.extension/pyHOK.tab/HOK Tools.panel/Replace Family.pushbutton/script.py
/Doors.extension/pyHOK.tab/HOK Tools.panel/Scale Drafting Regions.pushbutton
